<!DOCTYPE html>
<html>
	<head>
		<title><%= _.capitalize(siteName) %></title>
		<link href="assets/css/combined.css" rel="stylesheet" media="screen" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
		<!--[if lt IE 8]>
		<link href="assets/css/bootstrap-ie7.css" rel="stylesheet" type="text/css" />
		<![endif]-->
	</head>
	<body>
		<h1>Congrats you have generated the base for <%= _.capitalize(siteName) %></h1>

		<script src="assets/js/combined.js"></script>

		<script>
			$.getScript('http://localhost:35729/livereload.js');
		</script>
	</body>
</html>